*, *::before, *::after {
  box-sizing: border-box;
}

html {
  --primary-color: #060000;
}

body {
  background-color: #18273e;
  /* width: 100vw;
  height: 100vh; */
}

/* .container {
  max-width: 1200px;
  
} */

/* .full-page {
  height: 100vh;
} */

.page-content{
    width: 100vw;
    
}

header {
    background-color: #B1CD00;
    color: var(--primary-color);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;


}




.logo img{
   height: 100px;
   /* padding: 1em;
   margin-left: 2em; */
}

.nav{
    height: auto;
    width: 100%;
}

.nav ul {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2em;

}
.nav ul {
    list-style-type: none;
}
.nav ul li a{
    margin-left: 2em;
}