*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bg-color: #ffffff;
    --elements-bg-color: rgb(100,123,100);
    --elements-tx-color: #333333;
    --elements-tx-second-color: #4F4F4F;
    --spacing: 30px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    /* font-family: "Poppins", sans-serif; */
    font-family: "Lato", sans-serif;
}

.btn{
    width: 350px;
    color: #FEFEFE;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    border: none;
    margin-top: 2em;
}

/* .container {
  max-width: 1440px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
} */
.page{

    /* del a section */
    position: relative;
}

/*// HEADER */
header {
    color: var(--elements-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3em;
    /* gap: 390px; */
}

/*?? HEADER K */
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img {
    height: 50px;
    margin-left: 8.7em;
}

.logo h2 {
    font-size: 14.88px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

/*??HEADER D */
nav {
  margin-right: 8.7em;
}

nav ul {
    display: flex;
    gap: 3em;
    align-items: center;
}

nav ul li {
    list-style-type: none;

}
nav ul li a{
    text-decoration: none;
    color: var(--elements-tx-color);
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
button{
    background-color: var(--elements-bg-color);
    color: var(--bg-color);
    background: rgb(100,123,100);
    background: linear-gradient(90deg, rgba(100,123,100,1) 35%, rgba(102,172,102,1) 100%);
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    text-transform: capitalize;
}

/* MAIN */
main {
    /* display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    margin-top: 30px; */
   
}

/*// A-SECTION */
.a-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.hero {
    width: 34.5%;
    margin-top: 3.3em;
    margin-left: 2.5em;
    background-image: url("/img/Ellipse\ 116.svg");
    background-repeat: no-repeat;
    background-position: 40% 0;


    /* border: 1px solid var(--elements-bg-color); */
}

.hero h1 {
    font-weight: 500;
    color: var(--elements-tx-color);
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 2.5em;
}
.hero h1::first-letter {
    font-size: 1.4em;
    font-weight: 300;
}

.hero p {
    font-size: 1.250em;
    font-weight: 400;
    color: var(--elements-tx-second-color);
    line-height: 1.7;
    letter-spacing: 1.2px;
    margin: 0;
}

/* .hero button { 
} */

.cool-svg{
    margin-top:2.5em;
    margin-right: 5em;

    /* background-color: #4F4F4F; */
}

/*// B-SECTION */
.b-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.accent-card{
    width: calc(50% - 15px);


    /* background-color: violet;
    padding: 1em; */
}

.accent-card-top{
    background-color: violet;
    padding: 1em;
}

.cards-ctn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);       
}




/*// C-SECTION */
.c-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


/* // D-SECTION */
.d-section-ctn {
    display: grid;
    width: 100%;

}















/* DESKTOP FIRST */   
/* @media screen and (max-width: 799px) {

}

@media screen and (max-width: 499px) {

}

@media screen and (max-width: 299px) {

} */

