*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  --background-color: #202739;
  --primary-color: #e9e1e1;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
.header-title{
  color: #449DCC;
}

.header-title-sp{
  color: #FFF843;
}

.header-logo{
  height: 150px;
  padding: 1em;
  background-color:#FFFFFF;
  border-radius: 1em;
}

.header-text{
  color: #F96579;
  font-weight: 200;
  font-size: 1em;
}





table{
  /* border: #FFF843 1px solid; */
  width: 600px;
  height: 300px;
  border-spacing: .2em;
  text-align: center;
  font-weight: 100;
}

thead tr{
  line-height: 2em;
}

tbody tr:nth-child(odd){
  background-color: #323C50;
}

tbody tr:nth-child(even){
  background-color: #2D3447;
}

tbody td:first-child{
  color: #F96579;
}

.win, .los, .eql{
  padding: .5em;
  border-radius: .2em;
}

.win{
  background-color: #54c168;
}

.los{
  background-color: #F96579;
}

.eql{
  background-color: #FFF843;
}