@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  --primary-color: #ffffff;
}

body {
  background-color: #324d59;
  font-family: 'Roboto', serif;
}

.container {
  max-width: 1330px;
  margin-left: 0;
  margin-right: 0;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 80%;
  border: 1px solid red;
}

header {
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.navi {
  padding-left: 1em;
}

header nav ul li{
  display: inline;
  list-style-type: none;
  margin-right: .5em;
}
 
header nav ul li a{
  color:#C3C8C9;
  text-decoration: none;
  font-weight: 600; 
}

/*  */
.title-golden{
  color: #FFCD00;
  display: inline-flex;
  align-items: center;
}

.title-golden::before{
    content: '★';
    color: transparent; 
    color: #FFCD00;
    margin-right:10px;
}

.title-golden span::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 15px;
  background-image: url('/2024-05-23_Futbolo__Rezultatai/img/Flag_of_England.svg'); 
  background-size: cover;
  margin-right: 10px;
}

.title-golden span {
  text-transform: uppercase;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border: none; 
  position: relative;
}

/* tr:nth-child(even) {
  border-bottom: 1px solid black; 
} */

tr{
  padding: 8px; 
  position: relative;

}

tr:nth-child(even)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left:5%; 
  width: 90%; 
  border-bottom: 1px solid black;
}


/* td::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
} */



td {
  padding: 8px; 
  position: relative; 
}

td:last-child::after {
  content: "";
  position: absolute;
  top: 25%; 
  bottom: 25%; 
  width: 1px;
  background: red;
}





th::before {
  content: '★';
  color: transparent; 
  -webkit-text-stroke: .5px rgb(255, 255, 255); 
  margin-right: 5px;
}


td::before {
  content: '';
  display: inline-block;
  width: 15px; 
  height: 15px; 
  background-size: cover;
  margin-right:10px;
  vertical-align: middle;
}

.arsenal::before {
  background-image: url('/2024-05-23_Futbolo__Rezultatai/img/Arsenal_FC.svg');
}

.everton::before {
  background-image: url('/2024-05-23_Futbolo__Rezultatai/img/Everton_FC_logo.svg');
}

.brentford::before {
  content: '🐶'; 
}

.leeds::before {
  content: '🪳'; 
}

.brighton::before {
  content: '🪰'; 
}

.west-ham::before {
  content: '🐞'; 
}

.burnley::before {
  content: '🐝'; 
}

.newcastle::before {
  content: '🍏'; 
}

.chelsea::before {
  content: '🦎'; 
}

.watford::before {
  content: '🐢'; 
}

.crystal-palace::before {
  content: '🐇'; 
}

.manchester-united::before {
  content: '🦊'; 
}

.leicester::before {
  content: '🐭'; 
}

.southampton::before {
  content: '🦝'; 
}

.liverpool::before {
  content: '🐱'; 
}

.wolves::before {
  content: '🐵'; 
}
