*, *::before, *::after {
  box-sizing: border-box;
}

:root {
    --bg-color: #F8F8F8;
    --mobile-bg-color: #ffffff;
    --primary-txt-color: #C542FF;
    --accent-txt-color: #3F2257;
    --text-color: #ffffff;
    --gradient-bg: linear-gradient(
      90deg,
      hsl(292deg 100% 63%) 0%,
      hsl(290deg 100% 63%) 11%,
      hsl(287deg 100% 62%) 22%,
      hsl(285deg 100% 62%) 33%,
      hsl(282deg 100% 62%) 44%,
      hsl(279deg 100% 62%) 56%,
      hsl(277deg 100% 62%) 67%,
      hsl(274deg 100% 62%) 78%,
      hsl(271deg 100% 62%) 89%,
      hsl(267deg 100% 62%) 100%
    );
  }

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Rubik", sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; 
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        0deg,
        hsl(268deg 100% 61%) 0%,
        hsl(269deg 100% 61%) 11%,
        hsl(270deg 100% 61%) 26%,
        hsl(272deg 100% 61%) 46%,
        hsl(273deg 100% 62%) 64%,
        hsl(274deg 99% 62%) 78%,
        hsl(275deg 99% 62%) 87%,
        hsl(276deg 99% 62%) 93%,
        hsl(277deg 99% 62%) 97%,
        hsl(278deg 99% 62%) 99%,
        hsl(279deg 99% 62%) 100%
      );
    clip-path: ellipse(51% 65% at 0% 0%);
    z-index: -1; 
  }

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.mobile {
  max-width: 300px;
  margin: 0 auto;
  padding: .7em;
  background-color:var(--mobile-bg-color);
  border-radius: 2em;
}

.mobile-container{
    background-color: rgb(234, 234, 234);
    width: 100%;
    height: 100%;
    border-radius: 2em 2em 1.5em 1.5em;

}
/* // Mobile Header  */
.mobile-header {
    width: 100%;
    padding-top: 1em;
    background-image: var(--gradient-bg);
    border-radius: 1.5em 1.5em .2em .2em;
    position: relative;
}

.stereo {
    width:50%;
    height: 40%;
    transform: translateX(50%);
    background-color: rgb(255, 255, 255);
    border-radius: 2em;
    position: absolute;
    top: -12%;
}

.mobile-header-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1em;
}

.mobile-header-content-left {
    display: flex;
    align-items: center;
}

.mobile-header-content-left i {
    margin-right: .5em;
}

.mobile-header-img{
    width: 30px;
    height: 30px;
    border-radius: 2em;
    border: 1px solid var(--text-color);
}

.mobile-header-content-left-text {
  margin-left: .5em;
  color: #ffffff;
 
}

.mobile-header-content-left-text h2 {
    margin: 0;
    padding: 0;
    font-size: .8em;
}

.mobile-header-content-left-text p {
  margin: 0;
  padding: 0;
  font-size: .6em;
  font-weight: 200;
}

.mobile-header-content-right {
  margin-right: .1em;

}

/* Mobile Main */
.mobile-main-img {
  width: 35px;
  height: 100%;
  border-radius: 1em;
  margin-left: .5em;
}

#img-only {
  background-color: transparent;
  padding: 0;
}

.mobile-main {
  width: 100%;
  height: 100%;
}

.mobile-main ul {
  list-style-type: none;
  padding: .5em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  row-gap: .8em;
}

.mobile-main ul li {
  color: var(--primary-txt-color);
  font-size: .7em;
  line-height: 1.2;
}

.mobile-main ul .left-msg{
  color: var(--primary-txt-color);
  background-color: #ccb2e2;
  padding: .5em;
  border-radius: 1em 1em 1em .2em;
  grid-column: 1 / 9;
  text-align: left;
  justify-self: start;
}
.mobile-main ul .right-msg{
  color: var(--primary-txt-color);
  background-color: #ffffff;
  padding: .5em;
  border-radius: 1em 1em .2em 1em ;
  grid-column: -1 / 5;
  text-align: left;
  justify-self: end;
}



.mobile-main ul .left-msg-btn{
  grid-column: 1 /10;
  width: 100%;
  background-image: var(--gradient-bg);

}

.grid-button {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;

  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer; 
  width: 100%;
  padding: .6em;
  
}
.grid-button .time {
  justify-self: start;
  font-weight: 300;
  font-size: .8em;
}
.grid-button .time::before {
  content: '🕒';
  margin-right: .5em;
  font-size: 1.5em;

}

.grid-button .price {
  justify-self: end;
  font-weight: 600;
  font-size: 1.2em;
}

/* Mobile Footer */
.input-container {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.input-container input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 1.5em;
  margin: .5em;
  outline: none;
}

.input-container button {
  padding: 10px;
  background-color: var(--accent-txt-color);
  border: none;
  border-radius: 50%;
  color: white;
  font-size: .5em;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  right: 2em;
}

.input-container button:hover {
  background-color: #0056b3;
}

.input-container button i {
  pointer-events: none;
}

.text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .5em;
}
.text-container h1{
  color: var(--accent-txt-color);
  font-size: 2.8em;
  text-align: center;
  margin-top: 1em;
}
.text-container p{
  color: rgba(128, 128, 128, 0.697);
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
  padding: 0 1em;
  margin-bottom: 2.5em;
  max-width: 500px;
}


/* MOBILE FIRST */
@media screen and (min-width: 768px) {
  main {
    display: flex;
    align-items: center;
    padding: 0 1em;
}


}
@media screen and (min-width: 850px) {
  body::before {
    width: 60%;
    height: 140%;
  }
  main {
    gap: 10vw;
    
 }


}
@media screen and (min-width: 1000px) {
  body::before {
    width: 55%;
    height: 140%;
  }

}