@use './variables' as v;

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: v.$bg-color;
    color: v.$main-text-color;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
}
