@use './variables' as v;
/* Header */
.header-wrapper {
    background-color: v.$primary-color;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 100px;

}

.header-wrapper img {
    height:220px;
    margin-top: 1em;
}

.header-wrapper img {
    place-self: center;
}

.header-wrapper ul {
    padding: 2em 0;
    place-self: center;
    list-style-type: none;
    text-align: center;
    padding: 0;
}

.header-wrapper ul a {
    text-decoration: none;
    font-size: 1.5em;
    color: v.$text-color;
    font-weight: 700;
    line-height: 1.5;
}