@use './variables' as v;

/* MAIN */
.books-content {
    background-color: v.$primary-color;
    padding: .4em 1em 2em 1em;
    margin: 1em;
    border-radius: .5em;
    color: v.$main-text-color;  

    table {
        width: 100%;
        border-collapse: collapse;

        th, td {
            text-align: left;
            border-bottom: 1px solid rgba(128, 128, 128, 0.5);
            padding: 1em .2em;
        }

        td:last-child {
            margin-bottom: 20em;
        }
    }
}
