@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

html {
  --primary-color: hsl(75, 94%, 57%);
}

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: hsl(0, 0%, 8%);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* card */
.card{
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    border-radius: 1em;
}

.card .foto {
    margin-top: 2em;
}

.card .foto img{
    border-radius: 50%;
    width: 6em;
}


/* persona */
.personal{
    padding-top: .4em;
}
.personal h1{
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-bottom: .3em;

}
.personal h2{
    color: var(--primary-color);
    text-align: center;
    margin-top: 0;
    font-weight: 400;
}


/* about */
.about p{
    color: hsl(0, 11%, 77%);
    font-weight: 600;

}


/* my-social */
.my-social ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

}
.my-social ul li  {
    list-style-type: none;
    background-color: hsl(0, 0%, 20%);
    margin: .4em;
    padding: 1em 7em;
    width: 100%;
    border-radius: .5em;
    text-align: center;
}

.my-social ul li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 600;
    
}



















/* .className {
  border: 1px solid rgba(235, 12, 12, 0.805);
}

#id {
  border: 1px dotted rgba(34, 242, 34, 0.874);
}

div {
  color: var(--primary-color);
} */