/* CSS for CarForm component */

.car-form {
    background-color: #f9f9f9;
    padding: 30px;
    margin: 0 auto;
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-input, .form-select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s;
  }
  
  .form-input:focus, .form-select:focus {
    border-color: #007BFF;
  }
  
  .form-button {
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    width: 100%;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 768px) {
    .car-form {
      width: 90%;
    }
  }
  