*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-color-main: #F2F2F2;
  --bg-color-accent: #fff;
  --spacing: 30px;
  --primary-color: #000;
  --footer-txt-color: #929497;
}

body {
  font-family: 'Bw Gradual', Arial, sans-serif;
  background-color: var(--bg-color-main);

}

.container {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 20px;
}

/* ELEMENTS */
/* ANCHOR BTN */
.big-anchor-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color-accent);
  width: 100%;
  font-size: 2em;
  font-weight: 800;
  padding: 1em 2em;
  margin-top: 1em;
  border-radius: .4em;
  cursor: pointer;
}

.big-anchor-btn a {
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  letter-spacing: 2px;
}

.big-anchor-btn span {
  margin-right: 10px;
}

.big-anchor-btn span i {
  font-size: 2em;
}

.page {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;

}

/* HEADER */
menu {
  display: flex;
  width: 100%;
  justify-content: end;
  height: 70px;
}

menu ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  padding: 0;
}

menu ul li {
  border: 1px solid #e6e6e6;
  background-color: #FDFDFD;
  padding: 1.2em 1.5em;
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
  text-align: center;
}

menu ul li a {
  text-decoration: none;
  color: black;
}

.menu-news-li {
  background-color: #1200FE;

}

.menu-news-li a {
  color: white;
}



/* SECTION 1 */
main {
  width: calc(70% - var(--spacing));
  position: relative;
}

.main-title {
  font-size: 4em;
  font-weight: 700;
  color: black;
}

.news-ctn {
  display: flex;
  gap: var(--spacing);
}

.news-ctn-a,
.news-ctn-b {
  width: calc(50% - var(--spacing) / 2);
}

.news-ctn-card {
  margin-bottom: 2em;
}

.news-ctn-card-top {
  background-color: var(--bg-color-accent);
  padding-bottom: 5em;
  height: 35%;
}

.news-ctn-card-link {
  text-decoration: none;
  color: var(--primary-color);
  display: flex;
}

.news-ctn-card-link-top {
  flex-direction: column;
}

.news-ctn-card-img,
.news-ctn-card-img-top {
  width: 100%;
}

.news-ctn-card-ctn,
.news-ctn-card-ctn-top {
  padding: 1em;
  width: 100%;
}

.news-ctn-card-title {
  font-size: .8em;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: blue;
}

.news-ctn-card-desc {
  font-size: 1.1em;
  margin: 0.5em 0;
}

.news-ctn-date {
  font-size: 0.8em;
  color: gray;
}

.news-img {
  width: 100%;
  height: 222px;
  object-fit: cover;
}

/* SECTION 2 */
.vaizdo-irasai {
  background-color: var(--bg-color-main);
  margin-top: 3em;

}

.vaizdo-grid-ctn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: var(--spacing);
  width: 100%;
}

.news-ctn-card-title {
  font-size: 1.8em;
  font-weight: 700;
  color: black;
}

.vaizdo-card {
  height: 100%;
  margin-bottom: -2em
}

.vaizdo-card:first-of-type {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.vaizdo-card-link iframe {
  width: 100%;
}


/* // ASIDE TOP */
aside {
  width: calc(30% - (var(--spacing) * 0.3));
}

.aside-top {
  width: 100%;
}

.aside-main-title {
  font-size: 2.8em;
  font-weight: 700;
  color: black;
}

.aside-card {
  /* width: 100%; */
  /* background-color: var(--accent-color); */
  /* background-color: yellowgreen; */
  /* padding: 1em ; */
  margin-bottom: 3em;


}

/* ? Play media*/
.aside-play {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.aside-play-img,
.aside-play-btn {
  width: 100px;
  height: 100px;
}

.time {
  background-color: black;
  color: white;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-play-btn {
  background-color: var(--bg-color-main);
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* ? Play Text*/
.aside-extra {
  background-color: var(--bg-color-accent);
  /* padding: 4em 1em; */
}

.aside-extra-subsection {
  padding: 1em 2em 1em 1em;
  line-height: 1.5;
  font-weight: 700;
  margin: 0;
}

.aside-extra-postdate {
  font-size: 1.2em;
  color: var(--primary-color);
  padding-bottom: .5em;
  padding-left: 1em;
}


/* // ASIDE MIDDLE */
.aside-midle-title {
  background-color: var(--red);
  padding: 10px;
  margin-bottom: 1em;
  font-size: 3em;
  letter-spacing: 1px;
  color: black;
}

.event-card {
  background-color: black;
  color: white;
  /* padding: 1.4em; */
  position: relative;
  margin-bottom: 3em;
}

.event-card img {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.event-date {
  position: absolute;
  top: -35px;
  left: 35px;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  border-radius: .5em;
}

.event-date-main {
  position: absolute;
  top: 222px;
  left: 190px;
}

.event-date span:first-child {
  background-color: var(--bg-color-accent);
  color: black;
  font-weight: 600;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5em .5em 0 0;
  height: 65%;
}

.event-date span:last-child {
  background-color: #FF00E9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 .5em .5em;
  height: 35%;
}

address {
  text-transform: uppercase;
  font-style: normal;
  font-size: 1.2em;
  padding: 3em 0 0 1em;
  color: rgb(219, 219, 219);
}

.event-title {
  font-size: 1.8em;
  margin-top: .5em;
  padding: 1em;
}

footer {
  color: var(--footer-txt-color);
  background-color: #000;
  background-image: url('/img/footer.svg');
  background-size: 30%;
  background-position: 1500px 600px;
  background-repeat: no-repeat;

}

.f-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 150px 2fr 1fr;
  padding-top: 15em;
  max-width: 1600px;
  margin: 0 auto;
}


.f-section {
  --footer-txt-color: #929497;
}

/* f-section 1 CHILD */
.f-section:first-child {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
}

.f-section:first-child img {
  width: 200px;
  height: auto;
  margin-left: 2.5em;
}

/* f-section 2 CHILD */
.f-section:nth-child(2) {
  background-color: #000000;

}

.f-section:nth-child(2) li {
  margin-bottom: 2em;
  list-style-type: none;
  font-size: 1.2em;
}

.f-section:nth-child(2) li a {
  color: var(--footer-txt-color);
  text-decoration: none;
}

.f-section:nth-child(2) li a:hover {
  color: white;
  text-decoration: underline;
}

/* f-section 3 CHILD */
.f-section:nth-child(3) {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.town-title {
  font-size: 1em;
  ;
}

.f-section:nth-child(3) address {
  padding: .5em 0;
  margin-bottom: 1em;
  color: var(--footer-txt-color);
  line-height: 1.4;
  font-size: 1.2em;
}

.f-section:nth-child(3) address:hover {
  text-decoration: underline;
  color: #ffffff;
}

/* f-section 4 CHILD */
.f-section:nth-child(4) {
  font-size: 2.7em;

}

.f-section:nth-child(4) a {
  color: var(--footer-txt-color);
  margin-left: .4em;
}

/* f-section 5 CHILD */
.f-section:nth-child(5) {
  font-size: .8em;
  color: var(--footer-txt-color);
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.f-section:nth-child(5) a {
  text-decoration: none;
  font-size: 1.7em;
  color: rgb(255, 255, 255);
  margin-bottom: 1em;
  letter-spacing: 2px;
}

.f-section:nth-child(5) a:hover {
  text-decoration: underline;
}

.f-section:nth-child(5) img {
  width: 155px;
}

/* f-section 6 CHILD */
.f-section:nth-child(6) a {
  color: var(--footer-txt-color);
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 300;
  display: flex;
  justify-content: end;
}

.f-section:nth-child(6) a:hover {
  color: white;
  text-decoration: underline;
}


.hero {
  position: fixed;
  bottom: 5%;
  right: 25%;
  z-index: 1000;
}

.hero img {
  max-width: 150px;
  width: 100%;
  height: auto;
}