*, *::before, *::after {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  --bg-color: #ffffff;
  --primary-color: #000000;
  --accent-color: rgba(40, 40, 40, 0.4);
  --text-color: #333333;
  --spacing: 30px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "League Spartan", sans-serif;
}

/* .container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
} */

img{
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

p {
  font-size: 1.1em;
  line-height: 1.3;
  color: var(--accent-color);
}

header {
  background-image: url('/img/mobile-image-hero-1.jpg');
  background-size: cover; 
  background-position: center;
  width: 100%;
  position: relative;
  padding: 15em 0;
}

.top-nav {
  display: none; 
  justify-content: space-between;
  background-color: #FFFFFF;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 2em 0;
}

header .close-sign {
  color: var(--accent-color);
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: .7em;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 1em 0;
  margin: 0;
}

nav ul li {
  margin: 0 .5em;
}

nav ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  text-transform: lowercase;
  transition: transform 0.3s ease, color 0.5s ease;
  display: inline-block; 
}

nav ul li a:hover {
  color: var(--accent-color);
  text-decoration: underline;
  transform: scale(1.2); 
}


.bottom-btn {
  background-color: #000000;
  position: absolute;
  bottom: 0;
  right: 0;
}

.bottom-btn button {
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.bottom-btn button:hover {
 background-color: rgb(91, 91, 91);
}

.bottom-btn img {
  width: 1em; 
  height: auto;
}

.bottom-btn button:focus {
  outline: none;
}

.hamburger-icon {
  position: absolute;
  padding: 3em 1.5em;
  top: 0;
  left: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-icon img {
  width: 2em;
  height: auto;
}

/* main */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  text-align: left;
  padding: 0em 1.3em;
  height: 100%;
}

.hero-text {
  padding-bottom: 2em;
}

.hero-text h1 {
  font-size: 2em;
  line-height: 1.2;
  margin-bottom: .5em;
}
.hero-text h2 {
  font-size:1.4em;
  line-height: 1.2;
  padding: 1em 0 .1em;
}


.shop-button {
  display: flex;
  align-items: center;
  gap: 30px; 
  padding: 10px 0;
  letter-spacing: 6px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1.1em;
  font-weight: 800;
  cursor: pointer;
  padding: 2em 0 3em;
  transition: transform 0.3s ease, color 0.5s ease, margin-left 0.3s ease, color 1s ease-in-out;
}

.shop-button:hover {
  color: var(--accent-color);
  transform: scale(1.01);
  margin-left: 0.05em;
}


.shop-button img {
  width: 2.5em; 
  height: auto;
}









/* MOBILE FIRST */
@media screen and (min-width: 300px) {

}

@media screen and (min-width: 500px) {

}

@media screen and (min-width: 800px) {

}