*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --primary-color: #212121;
  --accent-color: #ff5722;
  --text-color: #333333;
  --spacing: 30px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 20px;
}


/* MOBILE FIRST */
@media screen and (min-width: 300px) {

}

@media screen and (min-width: 500px) {

}

@media screen and (min-width: 800px) {

}