@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins&display=swap');

*, *:before, *:after {
    box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --btn-main: hsl(322, 100%, 66%);
  --footer: hsl(192, 100%, 9%);
  --border-style: 3px solid rgba(243, 240, 240, 0.465);
}

html {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}


.container {
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;   
}

header {
  background-color: rgb(214, 241, 247);
  background-image: url("/img/bg-hero-desktop.svg");
  padding: 1rem 2rem 3rem;
  margin-bottom: 5em;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.logo img {
  width: 180px;
}

.btn-reg {
  background-color: white;
  border: none;
  padding: 0.7em 3em;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.btn-reg:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-text {
  width: 45%;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.top-banner {
  width: 60%;
  padding: 3em;
}

.top-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.top-intro {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.btn-main {
  background-color: var(--btn-main);
  color: white;
  padding: 1em 3em;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 1em;
}

.top-banner-img {
  width: 100%;
  height: 100%;
  min-width: 300px;
  max-width: 600px;
}

main {
  margin: 0 4em;
  position: relative;
}

.main-card-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1em;
  column-gap: 3em;
  border: var(--border-style);
  border-radius: 1em;
  padding: 3em 2em;
}

.main-card-title {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: var(--primary-color);
}

.main-card-text {
  font-size: 1.1rem;
  font-weight: 400;
  color: #999999;
  line-height: 1.3;
}

.main-card-img {
  height: 10em;
}

.hero {
  display: flex;
  flex-direction: column;
  border: var(--border-style);
  border-radius: 10px;
  padding: 3em 2em;
  margin: 0 10em;
  background-color: #ffffff;
  align-items: center;
  position: relative;
  top: 5em;
}

.hero .hero-title {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  color: var(--primary-color);
}

.footer-content {
  background-color: var(--footer);
  color: #ffffff;
  display: flex;
  padding-top: 5em;
}

.footer-a {
  width: 35%;
  color: #c7c7c7;
  font-weight: 400;
  font-size: .7em;
  padding: 3em;
}

.hard-logo {
  font-size: 2.3em;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1em;
}

.hard-logo::before {
  content: "\f0e0";
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  margin-right: 20px;
}

.footer-addres-text {
  display: flex;
  gap: .1em;
  margin-top: 2em;
}

.footer-addres-text::before {
  content: "\f041";
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  margin-right: 20px;
}

.footer-tel-text::before {
  content: "\f095";
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  margin-right: 20px;
}

.footer-email-text::before {
  content: "\f0e0";
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  margin-right: 20px;
}

.footer-b-nav {
  width: 35%;
  display: flex;
  padding: 3em;
  gap: 3em;
  align-items: center;
  align-self: center;
}

.footer-b-nav div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.footer-b-nav a {
  color: #c7c7c7;
  font-size: .7em;
  text-decoration: none;
  font-weight: 200;
}

.footer-c {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 3em 2em 3em 0;
}

.footer-social .social-link {
  color: #ffffff;
  background-color: transparent;
}

.footer-social .social-link i {
  margin-right: 10px;
  font-size: larger;
}

small {
  font-size: 0.6rem;
  margin-top: 6vh;
  font-weight: 200;
}

/* DESKTOP FIRST */
@media screen and (max-width: 799px) {
  .top-wrapper {
    margin: 0;
  }

  img {
    width: 140px;
  }

  .btn-reg {
    padding: .5em 2em;
  }

  .btn-main {
    padding: 1em 3em;
  }

  .top-content {
    flex-direction: column;
    padding-top: 5em;
  }

  .top-text {
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .top-title {
    text-align: center;
  }

  .top-intro {
    text-align: center;
  }

  .top-banner-img {
    width: 68vw;
    margin-left: -5em;
  }

  .main-card-wrapper {
    flex-direction: column-reverse;
  }

  main {
    margin: 1em;
  }

  .main-card-img {
    width: 100%;
  }

  .main-card {
    text-align: center;
  }

  .hero {
    margin: 0;
    padding: 2.5em 1.5em;
  }

  .hero .hero-title {
    text-align: center;
    font-size: 1em;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-a {
    width: 100%;
  }

  .footer-b-nav {
    width: 100%;
    flex-direction: column;
    padding: 0 0 0 2em;
    row-gap: 1em;
    align-items: flex-start;
  }

  .footer-b-nav div {
    row-gap: 1em;
  }

  .footer-c {
    align-items: center;
    padding: 1em;
}
}

@media screen and (max-width: 400px) {
  header {
    padding: 1em;
  }

  img {
    width: 120px;
  }

  .btn-reg {
    padding: .4em 1em;
  }

  .top-content {
    flex-direction: column;
    padding-top: 2.5em;
  }

  .top-text {
    width: 100%;
    margin: 0;
  }

  .top-banner {
    padding: 0;
    margin-top: 1em;
  }

  .top-banner-img {
    width: 60vw;
    margin-left: -3.8em;
  }

  .btn-main {
    margin: 1.7em 0;
  }

  main {
    margin: .5em;
  }
}
