@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    --primary-color: hsl(263, 55%, 52%) ;
    --secondary-color: hsl(217, 19%, 35%) ;
    --third-color: hsl(219, 29%, 14%)  ;
    --four-color: hsl(0, 0%, 100%) ;
}

body {
    background-image: url(/img/fabric_1.png);
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.page {
    display: flex;
    align-items: center;
    /* padding: 2em; */
    /* background-color: yellow; */
    padding: 5em 0;
    /* height: 700px; */
}

main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* background-color: aqua; */
}

aside {
    flex: 1;
    margin-left: 1em;
}

/* section */
section {
    display: flex;
    gap: 1em;
    /* background-color: rgb(119, 12, 129); */
}

.card{
    /* border: 1px solid red; */
    border-radius: 1em;
    padding: 1em;
}

/* .big{

} */
/* .small{

} */
.tall{
    padding: 4em 1em;

}

/* Author card */
.author{
    display: flex;
    gap: 1em;
    align-items: center;
    margin-left: 2em;
}

img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.user-title h3, .user-title h4{
    margin: .1em 0;

}

h4{
    opacity: 0.5;
}

p{
    opacity: 0.7;
}



.daniel{
    background-color: var(--primary-color);
    color: hsl(0, 0%, 81%);
    background-image: url(/img/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 80% 1%;
}

.jonathan{
    background-color: var(--secondary-color);
    color: hsl(0, 0%, 81%);
}

.jeanette{
    background-color: var(--four-color);
    color: #000;
}

.patrick{
    background-color: var(--third-color);
    color: hsl(0, 0%, 81%);
}

.kira{
    background-color: var(--four-color);
}


/*  */