*, *::before, *::after {
  box-sizing: border-box;
}

html {
  --background-color: #202739;
  --primary-color: #e9e1e1;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.container {
  max-width: 1300px;
  margin-right: 0;
  margin-left: 0;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */
.header-wrapper{
  display: flex;
  width: 100vw;
  justify-content: center;
}

.header-content{
  padding: 0 10em;
}

.header-title{
  text-align: center;
  color: #449DCC;
}

.header-title-sp{
  color: #FFF843;
}

.header-logo{
  height: 120px;
  
  padding: .5em 5em;
  background-color:#FFFFFF;
  border-radius: 1em;
  text-align: center;
}

.header-text{
  color: #F96579;
  font-weight: 200;
  font-size: 1em;
  text-align: center;
}


table{
  width: 80vw;

  border-spacing: .15em;
  text-align: center;
  font-weight: 100;
}

thead tr{
  line-height: 2em;
}

tbody tr:nth-child(odd){
  background-color: #323C50;
}

tbody tr:nth-child(even){
  background-color: #2D3447;
}

tbody td:first-child{
  color: #F96579;
}


tbody > tr > td:nth-child(2) > a {
  color: #ffffff;
  text-decoration: none;
}

tbody > tr > td:nth-child(2) > a:hover {
  color: #d2d1fb;
}

tbody td:last-child{
  text-align: start;
  padding-left: .5em;
}

.win, .los, .eql{
  padding: 0 5px;
  border-radius: .2em;
 font-size: .9em;

}

.win{
  background-color: #54c168;
}

.los{
  background-color: #F96579;
  padding: 0 .175em;
}

.eql{
  background-color: #FFF843;
}