@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  --primary-color: #ffffff;
  --secondary-color: #6A7073;
}

body {
  background-color: #020A0E;
  color: var(--primary-color);
  font-family: 'Roboto', serif;
  width: 100%;
  height: 100%;
}

.container {
  max-width:1000px;
  margin: auto;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


/*  */
header {
  display: flex;
  width: 100%;
  border-radius: .5em ;
  align-items: flex-start;
  background-color: #031721;
  margin-bottom: .8em;
}

.navi {
  width: 100%;
}

.navi-li{
  display: inline;
  list-style-type: none;
  margin-right: 1em;
}
 
.navi-a{
  color:#C3C8C9;
  text-decoration: none;
  font-weight: 600; 
  font-size: 1.3em ;
  letter-spacing: 1px;
}

.results{
  border-bottom: 4px solid #F60045;
  padding-bottom: .5em;
}

/*  */
.table-wrapper {
  width: 100%;
  background-color:#00141E;
  padding: 1em;
  border-radius: .5em;
}

.league-title{
  display: flex;
  justify-content: space-between;
  background-color: #011D28 ;
  width: 99%;
  height: 3em;
  align-items: center;
  border-radius: .4em;
}

.league-title p{
  text-decoration: underline;
  margin-right: 1em;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 1.1em;
  color: #adacac;

}

.title-golden{
  color: #FFCD00;
  padding: .5em;
  display: inline-flex;
  align-items: center;
}

.title-golden::before{
    content: '★';
    color: transparent; 
    color: #FFCD00;
    margin-right:10px;
}

.title-golden span::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 15px;
  background-image: url('/img/Flag_of_England.svg'); 
  background-size: cover;
  margin-right: 10px;
}

.title-golden span {
  text-transform: uppercase;
}

caption {
  text-align: left;
  font-size: 1.1em;
  font-weight: 500;
  margin-top: .4em;
  background-color: #011D28 ;
  color: #adacac;
  margin-bottom: 1em;
  width: 99%;
  border-radius: .3em;
  padding: .5em;
}

table {
  width:100%;
  border-radius: .3em;
  border-collapse: collapse;
 
}

th, td {
  padding: 8px;
  text-align: center;
  border: none; 
  position: relative;
}

th{
  color: var(--secondary-color);
  font-size: 1.2em;
}

tr{
  padding: 8px; 
  position: relative;

}

tr:nth-child(even)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left:5%; 
  width: 90%; 
  border-bottom: 1px solid #102C37;
}


.accent-color {
  color: #adacac;
}

.border{
  padding-right: 10em;
}

td {
  padding: 8px; 
  position: relative; 
}

.border:last-child::after {
  content: "";
  position: absolute;
  height: 75%;
  top: 50%;
  width: 1px;
  background: #102C37;
  transform: translateY(-50%);
}





th::before {
  content: '★';
  color: transparent; 
  -webkit-text-stroke: .5px rgb(255, 255, 255); 
  margin-right: 5px;
}


td::before {
  content: '';
  display: inline-block;
  width: 15px; 
  height: 15px; 
  background-size: cover;
  margin-right:10px;
  vertical-align: middle;
}

.arsenal::before {
  content: '🐇';
}

.everton::before {
  content: '🐝'; ;
}

.brentford::before {
  content: '🐶'; 
}

.brentford::after {
  content: '🐶'; 
  padding-left: 5px;
}

.leeds::before {
  content: '🪳'; 
}

.brighton::before {
  content: '🪰'; 
}

.west-ham::before {
  content: '🐞'; 
}

.burnley::before {
  content: '🐝'; 
}

.newcastle::before {
  content: '🍏'; 
}

.chelsea::before {
  content: '🦎'; 
}

.watford::before {
  content: '🐢'; 
}

.crystal-palace::before {
  content: '🐇'; 
}

.manchester-united::before {
  content: '🦊'; 
}

.leicester::before {
  content: '🐭'; 
}

.southampton::before {
  content: '🦝'; 
}

.liverpool::before {
  content: '🐱'; 
}

.wolves::before {
  content: '🐵'; 
}
